@page "/"
@using Blazored.Dialog
@inject IBlazoredDialog BlazoredDialog

<PageTitle>Blazored.Dialog</PageTitle>

<h1>Hello, Blazored.Dialog!</h1>

<p>Welcome to the Blazored.Dialog example!</p>

<dialog id="myDialog">
    <div class="header">
        <h4 class="title">Thanks for opening me!</h4>
    </div>
    <div class="body">
        <p>This is some text in a dialog</p>
    </div>
    <div class="footer">
        <button class="btn btn-secondary" @onclick="@(() => _dialog.Close())">
            Close
        </button>
    </div>
</dialog>

<button class="btn btn-primary" @onclick="@(() => _dialog.Show())">Show dialog</button>
<button class="btn btn-primary" @onclick="@(() => _dialog.ShowModal())">Show dialog as modal</button>

@code 
{
    private BlazoredDialog _dialog;
    protected override async Task OnInitializedAsync()
    {
        _dialog = BlazoredDialog.CreateNewDialog("myDialog");
    }
}